{
  "rabbitmq": {
    "host": "{{ rabbitmq_config.host }}",
    "password": "{{ rabbitmq_config.pass }}",
    "port": {{ rabbitmq_config.port }},
    "user": "{{ rabbitmq_config.user }}",
    "vhost": "{{ rabbitmq_config.vhost }}"
  }
}
